<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pictoFollowImage</key>
	<string>iconFollowers</string>
	<key>pictoPhotoImage</key>
	<string>iconPics</string>
	<key>profilePictureStroke</key>
	<string>profilePictureStroke</string>
	<key>tabBarTextColor-Selected</key>
	<string>#816345</string>
	<key>tabBarTextColor-Normal</key>
	<string>#56372a</string>
	<key>tabBarCameraButtonImage-Selected</key>
	<string>buttonCameraSelected</string>
	<key>tabBarCameraButtonImage-Normal</key>
	<string>buttonCamera</string>
	<key>tabBarSelectedItemImage</key>
	<string>backgroundTabBarItemSelected</string>
	<key>tabBarBackgroundImage</key>
	<string>backgroundTabBar</string>
	<key>tabBarActivityButtonImage-Selected</key>
	<string>iconTimelineSelected</string>
	<key>tabBarActivityButtonImage-Normal</key>
	<string>iconTimeline</string>
	<key>tabBarHomeButtonImage-Selected</key>
	<string>iconHomeSelected</string>
	<key>tabBarHomeButtonImage-Normal</key>
	<string>iconHome</string>
	<key>defaultFontRegular</key>
	<string>Helvetica</string>
	<key>defaultFontBold</key>
	<string>Helvetica-Bold</string>
	<key>SECTION_commentButtonImage-Selected</key>
	<string>iconComment</string>
	<key>SECTION_commentButtonImage-Normal</key>
	<string>iconComment</string>
	<key>SECTION_commentButtonFont</key>
	<string>Helvetica-Bold</string>
	<key>SECTION_commentButtonFontColor</key>
	<string>#493723</string>
	<key>SECTION_commentButtonFontSize</key>
	<string>11</string>
	<key>SECTION_likeButtonImage-Selected</key>
	<string>buttonLikeSelected</string>
	<key>SECTION_likeButtonImage-Normal</key>
	<string>buttonLike</string>
	<key>SECTION_likeButtonFont</key>
	<string>Helvetica-Bold</string>
	<key>SECTION_likeButtonFontColor</key>
	<string>#493723</string>
	<key>SECTION_likeButtonFontSize</key>
	<string>11</string>
	<key>SECTION_displayNameFont</key>
	<string>Helvetica-Bold</string>
	<key>SECTION_displayNameFontSize</key>
	<string>15</string>
	<key>SECTION_displayNameFontColor</key>
	<string>#493723</string>
	<key>SECTION_dateFont</key>
	<string>Helvetica</string>
	<key>SECTION_dateFontColor</key>
	<string>#7c7c7c</string>
	<key>SECTION_dateFontSize</key>
	<string>11</string>
	<key>SECTION_likeFont</key>
	<string>Helvetica</string>
	<key>SECTION_likeFontColor</key>
	<string>#111111</string>
	<key>SECTION_likeHighlightedFontColor</key>
	<string>#FFFFFF</string>
	<key>SECTION_likeFontSize</key>
	<string>15</string>
	<key>SECTION_commentFont</key>
	<string>Helvetica</string>
	<key>SECTION_commentFontColor</key>
	<string>#111111</string>
	<key>SECTION_commentFontSize</key>
	<string>15</string>
	<key>FEED_loadMoreSeperatorTopImage</key>
	<string>separatorTimeline</string>
	<key>FEED_loadMoreImage</key>
	<string>CellLoadMore</string>
	<key>New item</key>
	<string></string>
	<key>backgroundImage</key>
	<string>backgroundLeather</string>
	<key>NAVBAR_backgroundImage</key>
	<string>backgroundNavigationBar</string>
	<key>NAVBAR_settingsButtonBackgroundImage</key>
	<string>buttonSettings</string>
	<key>NAVBAR_settingsButtonImage</key>
	<string>buttonImageSettings</string>
	<key>NAVBAR_settingsButtonHighlightedImage</key>
	<string>buttonImageSettingsSelected</string>
	<key>NAVBAR_titleFont</key>
	<string>Helvetica-Bold</string>
	<key>NAVBAR_titleFontColor</key>
	<string>#D0C8B5</string>
	<key>NAVBAR_titleFontSize</key>
	<string>22</string>
	<key>FEED_placeholderImage</key>
	<string>PlaceholderPhoto</string>
	<key>FINDFRIENDS_cellBackgroundImage</key>
	<string>backgroundFindFriendsCell</string>
	<key>FINDFRIENDS_nameFont</key>
	<string>Helvetica-Bold</string>
	<key>FINDFRIENDS_nameFontSize</key>
	<string>16</string>
	<key>FINDFRIENDS_nameFontColor</key>
	<string>#422B22</string>
	<key>FINDFRIENDS_nameShadowColor</key>
	<string>#FFFFFF</string>
	<key>FINDFRIENDS_numPhotosFont</key>
	<string>Helvetica</string>
	<key>FINDFRIENDS_numPhotosFontSize</key>
	<string>11</string>
	<key>FINDFRIENDS_numPhotosFontColor</key>
	<string>#817F7B</string>
	<key>FINDFRIENDS_numPhotosShadowColor</key>
	<string>#FFFFFF</string>
	<key>FINDFRIENDS_numPhotosShadowAlpha</key>
	<string>0.7</string>
	<key>FINDFRIENDS_followButtonFont</key>
	<string>Helvetica-Bold</string>
	<key>FINDFRIENDS_followButtonFontSize</key>
	<string>15</string>
	<key>FINDFRIENDS_followButtonNormalFontColor</key>
	<string>#432C22</string>
	<key>FINDFRIENDS_followButtonSelectedFontColor</key>
	<string>#FFFFFF</string>
	<key>FINDFRIENDS_followButtonNormalShadowColor</key>
	<string>#E2C098</string>
	<key>FINDFRIENDS_followButtonSelectedShadowColor</key>
	<string>#000000</string>
	<key>FINDFRIENDS_followButtonNormalBackgroundImage</key>
	<string>buttonFollow</string>
	<key>FINDFRIENDS_followButtonSelectedBackgroundImage</key>
	<string>buttonFollowing</string>
	<key>FINDFRIENDS_followButtonSelectedImage</key>
	<string>iconTick</string>
	<key>FINDFRIENDS_inviteFriendsFont</key>
	<string>Helvetica-Bold</string>
	<key>FINDFRIENDS_inviteFriendsFontSize</key>
	<string>18</string>
	<key>FINDFRIENDS_inviteFriendsFontColor</key>
	<string>#422B22</string>
	<key>FINDFRIENDS_titleImage</key>
	<string>titleFindFriends</string>
</dict>
</plist>
